.background-general {
    background-color: #ffe1b0;
}

.carousel-item{
    position:relative;
    display:none;
    float:left;
    width:100%;
    margin-right:-100%;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    transition:transform 0s ease-in-out
}

.carousel-fade .active.carousel-item-end,.carousel-fade .active.carousel-item-start{
    z-index:0;
    opacity:0;
    transition:all 0s ease-out !important
}

.carousel-fade .active.carousel-item-start{
    z-index:0;
    opacity:0;
    transition:opacity 0s 0s !important;
}

.bg-image {
    background-image: url('../img/carousel/carousel-background.png');
    object-fit: cover;
}